
*{
    margin: 0;
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: #738198;
    font-size: 24px;
    padding: 10px;
}
a:hover{
    color: #ffffff;
    background-color: #2848c5;
    border-radius: 10px;
    padding: 25px 10px;
    box-shadow:
        10.3px 12.5px 10.8px rgba(0, 0, 0, 0.19),
        82px 100px 86px rgba(0, 0, 0, 0.095);
}
h1{font-size: 3.5rem; color: #1f3e72;}
h2{font-size: 1.8rem; color: #738198; font-weight: 300;}
h3{font-size: 1.2rem; color: #738198; font-weight: 200;}
.cita-text1{
    color: #1f3e72;
    font-weight: 600;
}
.material-symbols-outlined{color: #ffd012;}
#iconoazul{
    color: #2848c5;
} 
#iconoazulgrande {
    color: #2848c5;
    size: 50px;
}
button{
    background-color: #2848c5;
    color: #ffffff;
    font-size: 24px;
    padding: 20px 40px;
    border-radius: 10px;
    border: none;
}
button:hover{
    background-color: #1c359b;
    box-shadow:
            2.3px 4.1px 2.7px rgba(0, 0, 0, 0.04),
            5.9px 10.3px 6.9px rgba(0, 0, 0, 0.058),
            12.1px 21.1px 14.2px rgba(0, 0, 0, 0.072),
            24.8px 43.4px 29.2px rgba(0, 0, 0, 0.09),
            68px 119px 80px rgba(0, 0, 0, 0.13);
}
#nav{
    position: fixed;
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.911);
    width: 100%;
    height: 150px;
    align-items: center;
    z-index: 10;
}
#logo{
    font-size: 30px;
    font-weight: 700;
    color: #2848c5;
}
.menu-item{
    text-decoration: none;
    margin: 27px;
    font-weight: 600;
}

.seccion1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
}

.contenedor1 {
    grid-area: 1 / 1 / 2 / 2;
    max-width: 50vw;
    padding: 200px;
    padding-bottom: 40px;
    font-weight: 1000;
}

.contenedor2 {
    grid-area: 2 / 1 / 3 / 2;
    max-width: 50vw;
    margin:  0px 200px;
}

.contenedor3 {
    grid-area: 3 / 1 / 4 / 2;  
    max-width: 50vw;
    color: #1f3e72;
    text-align: center;
    font-weight: 600;
    align-items: baseline;
    font-size: 20px;
}

.contenedor4 { 
    display: flex;
    max-width: 50vw;
    padding-top: 120px;
    grid-area: 1 / 2 / 4 / 3;
    background: rgb(42, 71, 116);
    background: linear-gradient(270deg, rgba(53, 113, 207, 1) 0%, rgba(46, 137, 226, 1) 47%, rgba(95, 193, 255, 1) 100%);
}
.enfemera{
    
}

.cita-contenedor {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
   
}

#cita{
    position: absolute;
    bottom: 0px;
    left: 0px;
    max-height: 180px;
    width: 1100px;
    transform: translate(0%,-10%);
    background-color: rgba(255, 255, 255, 0.911);
    border-radius: 0px 10px 10px 0px;
    justify-content: space-between;
    box-shadow:
            4.2px 2.8px 2.7px rgba(0, 0, 0, 0.04),
            10.7px 7.1px 6.9px rgba(0, 0, 0, 0.058),
            21.8px 14.5px 14.2px rgba(0, 0, 0, 0.072),
            44.9px 29.9px 29.2px rgba(0, 0, 0, 0.09),
            123px 82px 80px rgba(0, 0, 0, 0.13);
   
}
.cita-card-1 {
    grid-area: 1 / 1 / 2 / 5;
    display: flex;
    padding-left: 200px;
    padding-bottom: 20px;
    align-items: baseline;
}

.cita-card-2 {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    align-items: baseline;
    align-items: center;
    padding-left: 200px;
    width: 200px;
    
}

.cita-card-3 {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;  
    align-items: baseline;
    align-items: center;
    width: 200px;
}

.cita-card-4 {
    grid-area: 2 / 3 / 3 / 4;
    display: flex;  
    flex-direction: row;
    align-items: baseline;
    align-items: center;
    width: 200px;
}

.cita-card-5 {
    grid-area: 3 / 1 / 4 / 2;
    padding-left: 200px;
    display: flex;
    align-items: baseline;
    align-items: center; 
    
}

.cita-card-6 {
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    align-items: baseline;
    align-items: center;
    padding: 5px;
}
.cita-card-7 {
    grid-area: 3 / 3 / 4 / 4;
    display: flex;
    align-items: baseline;
    align-items: center;
    padding: 5px;
}

.cita-card-8{
    grid-area: 3 / 4 / 4 / 5;
   position: absolute;
   transform: translate(560%,100%);
}
input{
    width: 200px;
    border: none;
    text-align: center;
    color: #1f3e72;
    font-size: 1.6rem;
    font-weight: bold;
}

.marcas {
    padding: 50px 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    justify-content: space-between;
}
.marca{
    display: flex;
    justify-content:center ;
    opacity: 0.2;
}

#porquevacunarse{
    padding: 200px;
}
.why-container2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    display: flex;
    justify-content: space-around;
}
.why-card{
    margin: 20px;
    padding: 40px;
    width: max-content;
    height: auto;
    justify-content: space-around;
    border-radius: 25px;
        background: #e0e0e0;
        box-shadow: 39px 39px 78px #c1c1c1,
            -39px -39px 78px #ffffff;
}
.why-card:hover {
    border-radius: 25px;
    background: #f6fcff;
    box-shadow: 39px 39px 78px #b0bdbc,
            -39px -39px 78px #ffffff;
    
}
#preparations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.img{
    display: flex;
    height: 1000px;
    padding-top: 120px;
    background: rgb(42, 71, 116);
    background: linear-gradient(270deg, rgba(53, 113, 207, 1) 0%, rgba(46, 137, 226, 1) 47%, rgba(95, 193, 255, 1) 100%);

}
.preparations{
    padding: 80px;
}

#preparaciones {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 80px;
    justify-content: space-between;
    text-align: center;
    height: auto;
}
.columna{
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    box-shadow:
            0.3px 2.9px 6.5px rgba(0, 0, 0, 0.053),
            0.9px 9.6px 21.7px rgba(0, 0, 0, 0.077),
            4px 43px 97px rgba(0, 0, 0, 0.13);
}
.columna:hover{
    background: #f6fcff;
    box-shadow: 39px 39px 78px #b0bdbc,
            -39px -39px 78px #ffffff;
}
#emergency{
    padding: 200px;
}
#emergency-display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.tarjetas-contacto {
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.contacto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 400px;
    height: 400px;
    margin: 40px;
    border-radius: 25px;
        background: #e0e0e0;
        box-shadow: 39px 39px 78px #c1c1c1,
            -39px -39px 78px #ffffff;
    
}
.contacto:hover{
    border-radius: 25px;
        background: #f6fcff;
        box-shadow: 39px 39px 78px #b0bdbc,
            -39px -39px 78px #ffffff;
}

.campo1 {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.campo2 {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: start;
}

.campo3 {
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
footer{
    background-color: #eef3ff;
}
.img-emergencia{
    display: flex;
        max-width: 50vw;
        padding-top: 120px;
        grid-area: 1 / 2 / 4 / 3;
        background: rgb(42, 71, 116);
        background: linear-gradient(270deg, rgba(53, 113, 207, 1) 0%, rgba(46, 137, 226, 1) 47%, rgba(95, 193, 255, 1) 100%);
}
.img-emergencia-size {
    display: flex;
    height: 1000px;
    padding-top: 120px;
    

}
.button2 {
    background-color: #f1f5ff;
    color: #2848c5;
    font-weight: 700;
    font-size: 24px;
    padding: 20px 40px;
    border-radius: 10px;
    border: none;
}

.button2:hover {
    color: #f1f5ff;
    background-color: #1c359b;
    box-shadow:
        2.3px 4.1px 2.7px rgba(0, 0, 0, 0.04),
        5.9px 10.3px 6.9px rgba(0, 0, 0, 0.058),
        12.1px 21.1px 14.2px rgba(0, 0, 0, 0.072),
        24.8px 43.4px 29.2px rgba(0, 0, 0, 0.09),
        68px 119px 80px rgba(0, 0, 0, 0.13);
}