*{
    padding: 0;
    margin: 0;
}
body{
    font-family: -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Helvetica,
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji" ;
    background-color: #ffffff;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2.7em;}
p{ font-size: 2.0em;}
ul{ list-style: none;}
li{font-size: 1.25em;}
a{
    text-decoration: none;
}
button{
    color: #ffffff;
    background-color: #3454d2;
    font-size: 1.5em;
    padding: 20px 40px;
    border-radius: 10px;
    border: none;
    box-shadow:
            3.9px 3.8px 5.7px rgba(0, 0, 0, 0.098),
            13px 12.7px 19.2px rgba(0, 0, 0, 0.12),
            58px 57px 86px rgba(0, 0, 0, 0.14);
}
button:hover{
    background-color: #21378f;
    color: #dddddd;
    box-shadow: none;
}
.titulo{
    color: #1f3e72;
    font-weight: bold;
}
.descripccion{
    color: #7b879d;
}
.subtitulo{
    color: #1f3e72;
    font-weight: bold;
    font-size: 1.5em;
}
.descripccion2{
    color: #7b879d;
    font-size: 1.3em;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ffffffe9;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.logo {
    color: #435fcd;
    font-weight: bold;
    font-size: xx-large;
}
.il_a{
    color: #6e7c94;
    font-weight: bold;
    padding: 10px;
    font-size: larger;
}
.il_a:hover{
    background-color: #2a4ac8;
    color: #ffffff;
    border-radius: 5px;
    box-shadow:
            1.4px 6.8px 3px rgba(0, 0, 0, 0.061),
            3.6px 17.3px 7.5px rgba(0, 0, 0, 0.067),
            7.4px 35.3px 15.2px rgba(0, 0, 0, 0.064),
            15.3px 72.6px 31.4px rgba(0, 0, 0, 0.063),
            42px 199px 86px rgba(0, 0, 0, 0.09);
}

#Fight{
    display: flex;
    align-items:center ;
    flex-direction: row;
    justify-content: space-around;
}
#imagenInicio{
    padding-top: 100px;
    height: 90vh;
    background: rgb(47, 103, 190);
        background: linear-gradient(270deg, rgba(47, 103, 190, 1) 0%, rgba(29, 128, 224, 1) 35%, rgba(56, 158, 222, 1) 100%);
    
}
#FightVirus{
    padding-bottom: 100px;
}
.BestySelect{
    padding-top: 50px;
    color: #1f3e72;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#BestySelect{
    width: 23px;
    align-content: center center;
    background-color: #f0e9ce;

}
.cita{
    color: #1f3e72;
    background-color: #ffffffe9;
    width: 1200px;
    height: 170px;
    position: absolute;
    border-radius: 10px;
    margin-top: 700px;
    padding-right: 10px;
    margin-right:500px;
    box-shadow:
            1.9px 2.6px 3.9px rgba(0, 0, 0, 0.064),
            5.3px 7.1px 10.8px rgba(0, 0, 0, 0.066),
            12.7px 17.2px 25.9px rgba(0, 0, 0, 0.062),
            42px 57px 86px rgba(0, 0, 0, 0.09);
}
.campos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.shedule{
    font-weight: bold;
   padding-top: 10px;
   padding-left: 20px;
}
.icono{
    width: 18px;
}
label{
    font-size: 1.0rem;
    font-weight:bolder;
    color: #7b879d;
}
input{
    color: #1f3e72;
    border: none;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    background-color: none;
    
}
input:active {
    color: #454545;
    border: none;
    font-weight: bold;
    font-size: 1.5rem;

}

#laboratorios .container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
.laboratorio{
    width: 200px;
    opacity: 0.1;
}
#why{
    display: flex;
    padding-top: 100px;
    padding-left: 90px;
}
.whywhy{
    padding-top: 150px;
    padding-bottom: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    
}
.icono2{
    width: 20px;
    height: 20px;
}

.card{
    padding: 50px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow:
            5.1px 6.8px 8px -27px rgba(0, 0, 0, 0.108),
            12.9px 17.3px 20.2px -27px rgba(0, 0, 0, 0.117),
            26.2px 35.3px 41.1px -27px rgba(0, 0, 0, 0.116),
            54px 72.6px 84.7px -27px rgba(0, 0, 0, 0.119),
            148px 199px 232px -27px rgba(0, 0, 0, 0.18);
}
.card:hover {
    background-color: #f1fcff;
    border-radius: 20px;
    box-shadow:
        5.1px 6.8px 8px -27px rgba(43, 183, 253, 0.108),
        12.9px 17.3px 20.2px -27px rgba(43,183,253,0.108),
        26.2px 35.3px 41.1px -27px rgba(43,183,253,0.108),
        54px 72.6px 84.7px -27px rgba(43,183,253,0.108),
        148px 199px 232px -27px rgba(43,183,253,0.108);
}
.mujer{
    width: 90vh;
    background: rgb(47, 103, 190);
        background: linear-gradient(270deg, rgba(47, 103, 190, 1) 0%, rgba(29, 128, 224, 1) 35%, rgba(56, 158, 222, 1) 100%);
}
#preparations{
    display: flex;
    flex-direction: row;
}
.preparativos{
    padding: 10px 100px;
    justify-content: space-between;
}

.carta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f8fafe;
    border: #f8fafe;
    border-radius: 10px;
    padding: 20px;
    margin: 50px;
    box-shadow:
            2.8px 2.9px 3.6px rgba(0, 0, 0, 0.16),
            7.8px 7.9px 10px rgba(0, 0, 0, 0.104),
            18.7px 19px 24.1px rgba(0, 0, 0, 0.08),
            62px 63px 80px rgba(0, 0, 0, 0.056);
}
.preparativo1{
    font-size: 1.2em;
    color: #1f3e72;
    
}
.preparativo2 {
    font-size: 1.0em;
    color: #6e7c94;
}

#emergency {
    padding-top: 300px;
    display: flex;
    flex-direction: row;
}
.mujer2 {
    display: flex;
    width: 80vh;
    background-size: 50vh;
    background: rgb(47, 103, 190);
    background: linear-gradient(270deg, rgba(47, 103, 190, 1) 0%, rgba(29, 128, 224, 1) 35%, rgba(56, 158, 222, 1) 100%);
}
.emergy-description{
    display: flex;
    flex-direction: column;
    padding: 1px;
}
.contactos{
    display: flex;
    display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: px;
        grid-row-gap: 0px;
}
.contacto{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 400px;
    height: 270px;
    align-items: center;
    margin: 50px;
}
.contacto:hover{
    box-shadow:
            5.1px 6.8px 8px -27px rgba(43, 183, 253, 0.108),
            12.9px 17.3px 20.2px -27px rgba(43, 183, 253, 0.108),
            26.2px 35.3px 41.1px -27px rgba(43, 183, 253, 0.108),
            54px 72.6px 84.7px -27px rgba(43, 183, 253, 0.108),
            148px 199px 232px -27px rgba(43, 183, 253, 0.108);
}
.button2{
    width: 200px;
    font-weight: bold;
    background-color: #f1f5ff;
    color: #3454d2;
}
footer{
    height: 500px;
    background-color: #eef3ff;
}
.parent{ 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: auto;
}
.div1 {grid-area: 1 / 1 / 2 / 2;}
.div2 {grid-area: 1 / 2 / 2 / 3;}
.div3 {grid-area: 1 / 3 / 2 / 4;}
.div4 {grid-area: 1 / 4 / 2 / 5;}
.div5 {grid-area: 2 / 1 / 3 / 5;}
.footer-card{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}
.footer-card-down{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-card-down{
    padding: 0 20px;
}
@media (max-width: 720px) {
    #nav{
        display: flex;
        flex-direction: column;
        text-align: center;
        position: static;
    }
    ul{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}